* {
  box-sizing: border-box;
}

html {
  font-style: 62.5%;
}

/* khôi phục cỡ chữ mặc định theo rem */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =============common============ */
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.button {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24.5px;
  background-color: #171100;
}

.header .button-sign-up {
    min-width: 144px;
    margin-left: 49px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* =============header============= */

.header {
    background-color: #fffcf4;
    top: -28px;
}

.header.fixed {
    position: sticky;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1rem;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
